html {
  height: 100vh;
  width: 100vw;
  background: darkred;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.787)), url('./Images/car.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
